<!DOCTYPE html>
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bcb Paper Wallet | Create Paper Wallets for BCB</title>
    <meta name="description" content="A platform to create paper wallets for BCB with ease.">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Bcb Paper Wallet | Create Paper Wallets for BCB">
    <meta itemprop="description" content="A platform to create paper wallets for BCB with ease.">


    <!-- Favicons -->
    <link rel="icon" href="{{asset_url_for('assets/img/favicon/favicon.ico')}}">

    <meta name="msapplication-TileImage" content="{{ asset_url_for('assets/img/favicon/ms-icon-144x144.png') }}">
    <meta name="msapplication-TileColor" content="#2677FF">
    <meta name="theme-color" content="#2677FF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2677FF">
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Various data -->
    <meta id="nanopaperwallet-data" data-overpass-mono="{{ asset_url_for('assets/fonts/OverpassMono-w700.ttf') }}" />
</head>

<body>
    <div id="app"></div>

    <!-- JavaScript at the bottom for fast page loading -->
    {{ javascript_tag('app_js') | safe }}
    <!-- end scripts -->
</body>

</html>